/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.notification-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 45px;
  }
}

.notification-list-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .notification-list-container {
    width: 60%;
  }
}

.notification-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  padding-left: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .notification-container {
    margin-bottom: 45px;
    padding-left: 25px;
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 18px;
  }
}
.primary-bg-color {
  background-color: #0b69ff;
}

.success-bg-color {
  background-color: #2dca73;
}
.warning-bg-color {
  background-color: #ffb800;
}
.danger-bg-color {
  background-color: #ff0b37;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

.message {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}